.color-browser {
  &-chrome {
    color: #E2AB00;
  }

  &-firefox {
    color: #EF8043;
  }

  &-edge {
    color: #377EF0;
  }

  &-opera {
    color: #E04006;
  }

  &-safari {
    color: #1F7BD0;
  }

  &-ie {
    color: #377EF0;
  }
}
